input[type="file"]{
   -webkit-appearance: none;
   text-align: left;
   -webkit-rtl-ordering:  left;
}
input[type="file"]::-webkit-file-upload-button{
   -webkit-appearance: none;
   float: right;
   margin: 0 0 0 10px;
   border: none;
   outline-width: : 0;
}
/*
*****************************************************************
--------------------------------Colors---------------------------
*****************************************************************
*/
.yellow{background-color: #ffdd00;}
.lightYellow{background-color: #f7e365;}
.grey{background-color: #2c3335;}
.darkGrey{background-color: #191f21!important;}

.yellowText{color: #ffdd00;}
.lightYellowText{color: #f7e365!important;}
.greyText{color: #2c3335;}
.darkGreyText{color: #191f21;}
/*
*****************************************************************
----------------------------END Colors----------------------------
*****************************************************************
*/
*
{
  padding: 0;
  margin: 0;
}
body
{
  font-family: Arial;
  background-color: #2c3335;
}
table {border-collapse: collapse;}
button:focus{outline:0;}
input:focus,textarea:focus{outline-width: 0;}

input[type=text],input[type=email],input[type=number],
input[type=password],textarea
{
  background-color: #2c3335;
  color: white;
  border: none;
  border-bottom: 2px solid #191f21;
  line-height: 2em;
}
input[type=text]:focus,input[type=email]:focus,input[type=number]:focus,
input[type=password]:focus,textarea:focus
{
  background-color: #2c3335;
  border-bottom: 2px solid #ffdd00;
}
/*
*****************************************************************
******************************Tabs*******************************
*****************************************************************
*/
.tab
{
  overflow: hidden;
  /*border: 1px solid #2c3335;*/
  width: 100%;
}
.tab button
{
  background-color: #ffdd00;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 20%;
}
.tab button:hover
{
  background-color: #f7e365;
}
.tabButtonActive
{
  background-color: #2c3335!important;
  color: #ffdd00;
}

/*
*****************************************************************
******************************Table******************************
*****************************************************************
*/
.DarkTable
{
  text-align: left;
  background-color: #191f21;
  width: 80%;
}
.DarkTable th
{
  color: #ffdd00;
  font-size: 17px;
  border: 5px solid #2c3335;
  padding: 7px 8px;
}
.DarkTable td
{
  color: white;
  font-size: 15px;
  border: 5px solid #2c3335;
  padding: 7px 8px;
}
/*
*****************************************************************
******************************Boton******************************
*****************************************************************
*/
.button
{
  background-color: #ffdd00;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #2c3335;
  border: none;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.button:hover
{
  background-color: #f7e365;
  color: #2c3335;
}

/*
*****************************************************************
******************************Modal*******************************
*****************************************************************
*/
.modalWindow
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  pointer-events: none;
  text-align:center;
}

.modalWindow:target
{
  opacity:1;
  pointer-events: auto;
}
.modalWindow > div
{
  width: 50%;
  position: relative;
  margin: 10% auto;
  background: #2c3335;
  padding-bottom: 4%;
}
/*
*****************************************************************
******************************Form*******************************
*****************************************************************
*/
.formUpdate
{
  margin:10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.formUpdate ul
{
  padding: 0;
  display: block;
  margin: 10px 0 0 0;
}
.formUpdate label
{
  padding:0%;
  display:block;
  font-weight: bold;
  float: left;
  color: white;
}
.formUpdate > input textarea
{
  float: left;
  width: 100%;
}
/*
*****************************************************************
****************************Dropdown*****************************
*****************************************************************
*/
.dropdown
{
    position: relative;
    display: inline-block;
    width: 10%;
    float: left;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #2c3335;
    width: 100%;
    box-shadow: 0px 20px 45px 0px rgba(0,0,0,0.7);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content
{
    display: block;
}
/*
*****************************************************************
******************************Slider*****************************
*****************************************************************
*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  vertical-align: middle;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #191f21;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #191f21;
}

input:focus + .slider {
  box-shadow: 0 0 1px #191f21;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #f7e365;
}
